.small-card-container {
    width: 700px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.small-card-photo > img {
    width: 200px;
    max-height: 150px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-title > h1 {
    font-size: 16px;
}